# .flake8
[flake8]
max-line-length = 128
exclude =
    migrations,
    __pycache__,
    env,
    venv,
    *.pyc,
    manage.py
ignore = 
    E203,
    E266,
    E501,
    E503,
    W292,
    E302,
    E261,
    F403,
    F405,