# Ignore venv folder files
bin/
dev/
include/
network_ops_dashboard.pid
lib/
lib64
logs/
media/f5lb/
media/images/logo.png
protected_media/f5lb/
pyvenv.cfg
static/admin/
uwsgi.ini

# Ignore database & manage.py
src/db.sqlite3

# Ignore secrets.py
src/network_ops_dashboard/secrets.py

# Ignore migrations
src/network_ops_dashboard/migrations

# Ignore temporary files created by editors
__pycache__/
