{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}

<h3>Platforms</h3>
<a href="{% url 'platform_add' %}">Add Platform</a><br>
<table class="table table-hover">
 <tr>
  <th>Manufacturer</th>
  <th>Name</th>
  <th>PID</th>
  <th>Ansible Namespace</th>
  <th>Netmiko Namespace</th>
  <th>Actions</th>
 </tr>

{% for platform in detaillist %}
  <tr class="table-light">
    <td>{{ platform.manufacturer }}</td>
    <td>{{ platform.name }}</td>
    <td>{{ platform.pid }}</td>
    <td>{{ platform.ansible_namespace }}</td>
    <td>{{ platform.netmiko_namespace }}</td>
    <td>
      <a href="{% url 'platform_edit' platform.pk %}">Edit</a>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}