{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}

<style>
  td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 300px;
  }
</style>

<h3>Site Secrets</h3>
<a href="{% url 'secrets_add' %}" class="btn btn-sm btn-outline-primary">Add Secret</a><br>
<table class="table table-hover">
 <tr>
  <th>Varname</th>
  <th>Varvalue</th>
  <th>Actions</th>
 </tr>

{% for secret in detaillist %}
  <tr class="table-light">
    <td>{{ secret.varname }}</td>
    <td>{{ secret.varvalue }}</td>
    <td>
      <a href="{% url 'secrets_edit' secret.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}