{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}

<h3>Network Inventory</h3>
<a href="{% url 'inventory_add' %}">Add Network Device</a><br>
<table class="table table-hover">
 <tr>
  <th>Name</th>
  <th>Site</th>
  <th>Device</th>
  <th>Serial#</th>
  <th>IP Address (MGMT)</th>
  <th>Device Tags</th>
  <th>Actions</th>
 </tr>

{% for inv in detaillist %}
  <tr class="table-light">
    <td>{{ inv.name }}</td>
    <td>{{ inv.site }}</td>
    <td>{{ inv.platform }}</td>
    <td>{{ inv.serial_number }}</td>
    <td>{{ inv.ipaddress_mgmt }}</td>
    <td>{% for tag in inv.device_tag.all %} {{ tag.name }}<br>{% endfor %}</td>
    <td>
      <a href="{% url 'inventory_edit' inv.pk %}">Edit</a>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
