{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}

{% if site_settings %}
  <h3>{{ site_settings.teamname }} Team Dashboard</h3>
{% else %}
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">No SiteSecrets.objects() object founds. Go to the <a href="/admin" class="alert-link">admin</a> panel and configure one.</p>
  </div>
{% endif %}


<div class="card border-primary mb-3" style="max-width: 25rem;">
  <div class="card-header">Current VPN Stats (5m interval)</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Current VPN Stats (5m)</h4> -->
    {% for asa in detaillist1 %}
      <p class="card-text"><b>{{ asa.name }}</b> - Users: {{ asa.connected }} - Load: {{ asa.load }}</p>
    {% endfor %}
  </div>
</div>


{% endblock %}