<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                {% block title %}
                        {% if site_settings %}
                                <title>{{ site_settings.company }} - {{ site_settings.teamname }}</title>
                        {% else %}
                                <title>Company Name - Team Name</title>
                        {% endif %}
                {% endblock %}
                {% load app_tags %}
                {% load static %}
                {% if user.is_authenticated %}
                 {% for group in request.user.groups.all %}
                  {% if group.name == 'themedark' %}
		   <link rel="stylesheet" href="{% static 'css/darktheme/bootstrap.css' %}">
                  {% endif %}
                  {% if group.name == 'themelight' %}
		   <link rel="stylesheet" href="{% static 'css/lighttheme/bootstrap.css' %}">
                  {% endif %}
                  {% if not user|has_group:"themedark" and not user|has_group:"themelight" %}
                   <link rel="stylesheet" href="{% static 'css/lighttheme/bootstrap.css' %}">
                  {% endif %}
                 {% endfor %}
                {% else %}
		   <link rel="stylesheet" href="{% static 'css/lighttheme/bootstrap.css' %}">
                {% endif %}
                <link rel="stylesheet" href="{% static 'css/base.css' %}">
                <link rel="stylesheet" href="{% static 'css/style.css' %}">
                <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
                <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript">
                        function getDocHeight(doc) {
                                doc = doc || document;
                                // stackoverflow.com/questions/1145850/
                                var body = doc.body, html = doc.documentElement;
                                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                                        html.clientHeight, html.scrollHeight, html.offsetHeight );
                                return height;
                        }
                        function getDocWidth(doc) {
                                doc = doc || document;
                                // stackoverflow.com/questions/1145850/
                                var body = doc.body, html = doc.documentElement;
                                var width = Math.max( body.scrollWidth, body.offsetWidth,
                                        html.clientWidth, html.scrollWidth, html.offsetWidth );
                                return width;
                        }
                        function setIframeSize(id) {
                                var ifrm = document.getElementById(id);
                                var doc = ifrm.contentDocument? ifrm.contentDocument: 
                                        ifrm.contentWindow.document;
                                ifrm.style.visibility = 'hidden';
                                ifrm.style.height = "10px"; // reset to minimal height ...
                                ifrm.style.width = "10px"; // reset to minimal width ...
                                // IE opt. for bing/msn needs a bit added or scrollbar appears
                                ifrm.style.height = getDocHeight( doc ) + 4 + "px";
                                ifrm.style.width = getDocWidth( doc ) + 4 + "px";
                                ifrm.style.visibility = 'visible';
                        }
                </script>
        </head>

<br><br><br><br><br><br><br><br><br>
<center>
{% if site_settings %}
        {% if site_settings.companylogo %}
                <img src="{{ MEDIA_ROOT }}{{ site_settings.companylogo.url }}" align="middle"><br><br>
        {% else %}
                <img src="{{ MEDIA_ROOT }}media/images/company_logo_dark.png" align="middle"><br><br>
        {% endif %}
        <h3>{{ site_settings.teamname }}</h3>
        <a href="{%url 'public_scripts' %}">Public Scripts</a>&nbsp;&nbsp;
        <a href="{%url 'dashboard' %}">Team Dashboard</a>&nbsp;&nbsp;<br>
        {% if site_settings.websites.exists %}
                {% for site in site_settings.websites.all %}
                        <a href="{{ site.url }}" target="_new"> {{ site.name }}</a>&nbsp;&nbsp;
                {% endfor %}
        {% endif %}
{% else %}
        {% if user.is_authenticated %}
                {% for group in request.user.groups.all %}
                        {% if group.name == 'themedark' %}
		        <img src="{{ MEDIA_ROOT }}media/images/company_logo_dark.png" align="middle"><br><br>
                        {% endif %}
                        {% if group.name == 'themelight' %}
		        <img src="{{ MEDIA_ROOT }}media/images/company_logo_light.png" align="middle"><br><br>
                        {% endif %}
                        {% if not user|has_group:"themedark" and not user|has_group:"themelight" %}
                        <img src="{{ MEDIA_ROOT }}media/images/company_logo_light.png" align="middle"><br><br>
                        {% endif %}
                {% endfor %}
        {% else %}
		<img src="{{ MEDIA_ROOT }}media/images/company_logo_light.png" align="middle"><br><br>
        {% endif %}
        <H5>IT Network Team</H5>
        <a href="{%url 'public_scripts' %}">Public Scripts</a>&nbsp;&nbsp;
        <a href="{%url 'dashboard' %}">Team Dashboard</a>&nbsp;&nbsp;<br>
        <a href="#">Internal KB</a>&nbsp;&nbsp;<a href="#">Tools Repository</a>&nbsp;&nbsp;<a href="#">Support Request</a>&nbsp;&nbsp;
{% endif %}
</center>

</body>
</html>