{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}
{% load static %}

<h3>APIC Create Interface Runbooks</h3>

<a href="{% url 'apic_createinterface_add' %}" class="btn btn-sm btn-outline-primary">Create Playbook</a>
<a href="{% url 'apic_createinterface_intf' %}" class="btn btn-sm btn-outline-secondary">Interface List</a><br>

<div class="table-responsive">
<table class="table table-hover table-sm mb-0" id="my-table">
 <tr>
  <th>Name</th>
  <th>Status</th>
  <th>Device</th>
  <th>Interfaces</th>
  <th colspan=3>Actions</th>
 </tr>

{% for mop in detaillist %}
 {% if mop.status != 'Closed' %}
  <tr class="table-light">
    <td>{{ mop.name }}</td>
    <td>{{ mop.status }}</td>
    <td><a href="https://{{ mop.device.ipaddress_mgmt }}" target="_blank" rel="noopener noreferrer">{{ mop.device }}</a></td>
    <td>{% for intf in mop.interfaces.all %} {{ intf.intfdesc }}<br>{% endfor %}</td>
    <td>
      {% if mop.status == 'Planned' %}
        <a href="{% url 'apic_createinterface_addintf' mop.pk %}" class="btn btn-sm btn-outline-primary">Add Interface</a>
      {% endif %}
    </td>
    <td>
      {% if mop.status == 'Planned' %}
        <a href="{% url 'apic_createinterface_run' mop.pk %}" class="btn btn-sm btn-outline-primary" onclick="return confirm('Are you sure you are ready to run this playbook now?')">Run Playbook</a>
      {% elif mop.status == 'Running' %}
        <b>MOP Running</b>
      {% else %}
        <a href="{% url 'apic_createinterface_archive' mop.pk %}" class="btn btn-sm btn-outline-primary" onclick="return confirm('Are you sure you want to archive this?')">Close Playbook</a>
      {% endif %}
    </td>
    <td>
      <a href="{% url 'apic_createinterface_edit' mop.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
    </td>
  </tr>
  {% endif %}
{% endfor %}
</table>
</div>

{% endblock %}
