{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% load widget_tweaks %}
{% block content %}

<h3>APIC Create Interface Playbook Edit</h3>

<table>
<tr>
<td><font align="left">
<form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
  {% if form.device.field.disabled %}
    <div class="alert alert-warning">
      Device cannot be changed because interfaces are already associated <br>with this Playbook. To change the device, remove all interfaces or cancel<br>this Playbook and create a new Playbook.
    </div>
  {% endif %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</font>
</td>
<td></td>
</tr>	
</table>	

{% endblock %}