{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}
{% load static %}

<h3>APIC Create Interface Playbook Interfaces</h3>
<a href="{% url 'apic_createinterface' %}" class="btn btn-sm btn-outline-secondary">Back</a><br>
<table class="table table-hover">
 <tr>
  <th>Description</th>
  <th>Intf. Profile</th>
  <th>Intf. Selector</th>
  <th>Intf. Profile Group</th>
  <th>From Port</th>
  <th>To Port</th>
  <th colspan=2>Actions</th>
 </tr>

{% for intf in detaillist %}
  <tr class="table-light">
    <td>{{ intf.intfdesc }}</td>
    <td>{{ intf.intfprofile }}</td>
    <td>{{ intf.intfselector }}</td>
    <td>{{ intf.intfipg }}</td>
    <td>{{ intf.intffromport }}</td>
    <td>{{ intf.intftoport }}</td>
    <td>
        <a href="{% url 'apic_createinterface_delintf' intf.pk %}" class="btn btn-sm btn-outline-secondary"  onclick="return confirm('Are you sure you want to delete this?')">Delete Interface</a>
    </td>
    <td>
        <a href="{% url 'apic_createinterface_editintf' intf.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
