{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}
{% load static %}
<body data-media-url="{% get_media_prefix %}"></body>

<h3>F5 LB VIP Certificate Renew MOPs</h3>

<a href="{% url 'f5lb_vipcertrenew_add' %}" class="btn btn-sm btn-outline-primary">Create MOP</a><br>
<!-- Here was the link to run loadconfigoptions against all load balancers :
&nbsp; <a href="{% url 'f5lb_loadconfigoptions' load_all %}" onclick="return confirm('Runs against all load balancers. Please Confirm.')">Reload Config Options</a>
 -->
<table class="table table-hover">
 <tr>
  <th>Name</th>
  <th>Status</th>
  <th>Device</th>
  <th>Virtual Server</th>
  <th>Cert Name</th>
  <th colspan=2>Actions</th>
 </tr>

{% for mop in detaillist %}
 {% if mop.status != 'Closed' %}
  <tr class="table-light">
    <td>{{ mop.name }}</td>
    <td>{{ mop.status }}</td>
    <td><a href="https://{{ mop.device }}" target="_blank" rel="noopener noreferrer">{{ mop.device }}</a></td>
    <td>{{ mop.virtual_server }}</td>
    <td><a href="{% get_media_prefix %}{{ mop.cert_file }}">{{ mop.cert_name }}</a></td>
    <td>
      {% if mop.status == 'Planned' %}
        <a href="{% url 'f5lb_vipcertrenew_run' mop.pk %}" class="btn btn-sm btn-outline-primary" onclick="return confirm('Are you sure you are ready to run this mop now?')">Run MOP</a>
      {% elif mop.status == 'Running' %}
        <b>MOP Running</b>
      {% else %}
        <a href="{% url 'f5lb_vipcertrenew_archive' mop.pk %}" class="btn btn-sm btn-outline-primary" onclick="return confirm('Are you sure you want to archive this?')">Close MOP</a>
      {% endif %}
    </td>
    <td>
      <a href="{% url 'f5lb_vipcertrenew_edit' mop.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
    </td>
  </tr>
  {% endif %}
{% endfor %}
</table>

{% endblock %}
