{% extends 'network_ops_dashboard/base.html' %}
{% load app_tags %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>IT Core Network On-Call Report</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .edit-mode textarea { width: 100%; }
    .hide-on-print { display: inline; }
    .print-mode .hide-on-print { display: none; }
    textarea.edit-log { 
      width: 50%;
      height: 200px;
      resize: veritical;
      font-family: Calibri, sans-serif;
      font-size: 11pt;
    }
    .incident {
      margin-bottom: 30px;
    }
    hr {
      border: 1px solid #ccc;
    }
    .title {
      font-weight: bold;
      color: red;
    }
    pre {
      background: none;
      border: none;
      padding: 10px;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-family: Calibri, sans-serif;
      font-size: 11pt;
    }
    strong {
      font-family: Calibri, sans-serif;
      font-size: 11pt;
    }
  </style>
</head>
<body>

<h3 id="currentDate"></h3>
<!-- <button onclick="togglePrintMode()" class="hide-on-print">🖨️ Print/Copy Mode</button> &nbsp; -->
<a href="{% url 'oncall_add_incident' %}" class="btn btn-success mb-3 hide-on-print">➕ Add Incident</a> &nbsp;
<button onclick="redirectToPrint()" class="btn btn-outline-primary btn-sm">🖨️ Print/Copy Mode</button> &nbsp;
<a href="{% url 'oncall_incident_log' %}" class="btn btn-outline-secondary btn-sm hide-on-print">📜 Incident Log</a> &nbsp;
<!-- <button onclick="copyCleanIncidentContent()" class="btn btn-outline-primary btn-sm">📋 Copy for Email</button> -->
<hr>

<div id="incident-print-section">
  {% for incident in incidents %}
    <div class="incident" data-id="{{ incident.id }}">
      <strong class="hide-on-print">Created By: {{ incident.user_created }}</strong><br>
      <strong class="hide-on-print"><b>Modified By:</b> {{ incident.user_modified }}</strong> <br>
      <strong style="color:red;">Issue Date:</strong> <strong> {{ incident.date_created }} </strong><br>
      <strong style="color:red;">Issue Title:</strong> <strong> {{ incident.headline }} </strong><br>
      <strong style="color:red;">Status:</strong> <strong> {{ incident.status }} </strong><br>
      <div class="log-content">
        <pre>{{ incident.log }}</pre>
        <textarea class="edit-log hide-on-print" style="display:none;">{{ incident.log }}</textarea>
        <button class="edit-button hide-on-print">✏️ Edit</button>
        <button class="save-button hide-on-print" style="display:none;">💾 Save</button>
        <form method="POST" action="{% url 'oncall_close_incident' incident.id %}" onsubmit="return confirm('Are you sure you want to close this incident?');">
            {% csrf_token %}
            <button type="submit" class="close-button btn btn-danger btn-sm hide-on-print">✖ Close</button>
        </form>
      </div>
      <hr>
    </div>
  {% endfor %}
    <h5><u>Scheduled Maintenance</u></h6>
    <h6>Windstream</h6>
      <table class="table table-hover" id="my-table">
        <tr>
          <th>Circuit</th>
          <th>Circuit ID(s)</th>
          <th>WMT#</th>
          <th>Status</th>
          <th>Impact</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
        {% for mop in wsmtc %}
        <tr class="table-light">
          <td>{% for cktname in mop.cktid.all %} {{ cktname.name }}<br>{% endfor %}</td>
          <td>{% for cktid in mop.cktid.all %} {{ cktid.cktid }}<br>{% endfor %}</td>
          <td>{{ mop.wmt }}</td>
          <td>{{ mop.status }}</td>
          <td>{{ mop.impact }}</td>
          <td>{{ mop.startdatetime }}</td>
          <td>{{ mop.enddatetime }}</td>
        </tr>
        {% endfor %}
      </table>
    <br><h6>Cogent</h6>
    <br><h5><u>Field Notices</u></h5>
    <br><h5><u>Expiry Notifications</u></h5>
</div>

<script>
$(document).ready(function() {
  $('.edit-button').click(function() {
    let container = $(this).closest('.incident');
    container.find('pre').hide();
    container.find('.edit-log').show();
    $(this).hide();
    container.find('.save-button').show();
    container.find('.close-button').hide();
  });

  $('.save-button').click(function() {
    let container = $(this).closest('.incident');
    let id = container.data('id');
    let log = container.find('.edit-log').val();
    $.post(`/oncall/update/${id}/`, {log: log, csrfmiddlewaretoken: '{{ csrf_token }}'}, function(response) {
      if (response.success) {
        container.find('pre').text(log).show();
        container.find('.edit-log').hide();
        container.find('.save-button').hide();
        container.find('.edit-button').show();
        container.find('.close-button').show();
      }
    });
  });
});
</script>

<script>
  const dateElement = document.getElementById("currentDate");
  const currentDate = new Date().toLocaleDateString(); 
  dateElement.textContent = "IT Core Network Update - " + currentDate;
</script>


<script>
  function redirectToPrint() {
    window.location.href = "{% url 'oncall_incident_print' %}";
  }
</script>


</body>
</html>

{% endblock %}