<!DOCTYPE html>
<html>
<head>
  {% block title %}
    {% if site_settings %}
      <title>{{ site_settings.teamname }} On-Call Report</title>
    {% else %}
      <title>Company Name - On-Call Report</title>
    {% endif %}
  {% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lumen/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      font-family: Calibri, sans-serif;
      font-size: 11pt;
      padding: 20px;
    }
    .incident {
      margin-bottom: 30px;
    }
    hr {
      border: 1px solid #ccc;
    }
    .title {
      font-weight: bold;
      color: red;
    }
    pre {
      background: none;
      border: none;
      padding: 10px;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-family: Calibri, sans-serif;
      font-size: 11pt;
    }
    @media print {
      .no-print {
        display: none;
      }
    }
  </style>
</head>
<body>
  <div class="no-print" style="margin-bottom: 20px;">
    <a href="{% url 'oncall' %}" class="btn btn-outline-secondary btn-sm hide-on-print"><< Back</a> &nbsp;
    <button onclick="window.print()">🖨 Print</button>
    <button onclick="copyIncidentContent()" class="btn btn-outline-primary btn-sm">📋 Copy for Email</button>
  </div>

  <div id="incident-print-section">
    <h3 id="currentDate"></h3>
        {% for incident in incidents %}
        <div class="incident">
            <div><span class="title">Issue Date:</span> {{ incident.date_created }}</div>
            <div><span class="title">Issue Title:</span> {{ incident.headline }}</div>
            <div><span class="title">Owner:</span> {{ incident.user_created.first_name }} {{ incident.user_created.last_name }}</div>
            <div><span class="title">Status:</span> {{ incident.status }}</div>
            <pre>{{ incident.log }}</pre>
            <hr>
        </div>
        {% endfor %}

        {% if providers_with_emails %}
        <h4><u>Scheduled Maintenance</u></h4>
        {% for provider, emails in providers_with_emails %}
          <div class="table-responsive">
          <table class="table table-hover table-sm mb-0" id="my-table">
            <tr>
              <th colspan="8"><strong>{{ provider.name }}</strong></th> 
            </tr>
            <tr>
              <th>Name</th>
              <th>Circuit ID(s)</th>
              <th>Mtc#</th>
              <th>Status</th>
              <th>Impact</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
            {% for circuit in emails %}
              <tr class="table-light">
                <td>{% for cktname in circuit.circuits.all %} {{ cktname.name }}<br>{% endfor %}</td>
                <td>{% for cktid in circuit.circuits.all %} {{ cktid.cktid }}<br>{% endfor %}</td>
                <td>{{ circuit.mtc_id }}</td>
                <td>{{ circuit.status }}</td>
                <td>{{ circuit.impact }}</td>
                <td>{{ circuit.startdatetime }}</td>
                <td>{{ circuit.enddatetime }}</td>
              </tr>
            {% endfor %}
          </table>
          </div><br>
        {% endfor %}
      {% endif %}

      {% if advisories %}
      <h3>Cisco Field Notices</h3>
      <div class="table-responsive">
      <table class="table table-hover table-sm mb-0" id="my-table">
        <tr>
          <th>Title</th>
          <th>Impact</th>
          <th>Description</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
        {% for advisory in advisories %}
          <tr>
            <td><a href="{{ advisory.url }}">{{ advisory.title_short }}</a></td>
            <td>
              <span class="badge
                        {% if advisory.impact_rating == 'Critical' %}bg-danger
                        {% elif advisory.impact_rating == 'High' %}bg-warning text-light
                        {% else %}bg-secondary{% endif %}">
                        {{ advisory.impact_rating|capfirst }}
              </span>
            </td>
            {% if advisory.status != 'Open' %}
            <td class="text-truncate" style="white-space: normal; max-width: 550px; ">
              <small class="text-muted d-block" style="max-width:850px;">{{ advisory.note|truncatechars:300 }}</small>
            </td>
            {% else %}
            <td class="text-truncate" style="white-space: normal; max-width: 550px; ">
              <small class="text-muted d-block" style="max-width:850px;">{{ advisory.description|truncatechars:300 }}</small>
            </td>
            {% endif %}
            <td>{{ advisory.date }}</td>
            <td>
              <span class="badge
                    {% if advisory.status == 'Open' %} bg-primary
                    {% elif advisory.status == 'Impacted' %} bg-danger
                    {% elif advisory.status == 'No Impact' %} bg-success
                    {% else %}bg-secondary{% endif %}">
                    {{ advisory.status|capfirst }}
              </span>
            </td>
          </tr>
        {% endfor %}
      </table>
      </div><br>
      <div class="spacer"></div>
    {% endif %}

    {% if certs %}
    <br><h4><u>Certificate Expirations</u></h4>
      <div class="table-responsive">
      <table class="table table-hover table-sm mb-0" id="my-table">
        <tr>
          <th>Provider</th>
          <th>Certificate Name</th>
          <th>Common Name</th>
          <th>Expiration Date</th>
        </tr>
        {% for cert in certs %}
        <tr class="table-light">
          <td>{{ cert.provider }}</td>
          <td>{{ cert.cert_name }}</td>
          <td>{{ cert.common_name }}</td>
          <td>{{ cert.expire_date }}</td>
        </tr>
        {% endfor %}
      </table>
      </div>
    {% endif %}

    {% if svc_acts %}
    <br><h4><u>Service Account Expirations</u></h4>
      <div class="table-responsive">
      <table class="table table-hover table-sm mb-0" id="my-table">
        <tr>
          <th>Service Account</th>
          <th>Date</th>
        </tr>
        {% for svc_act in svc_acts %}
        <tr class="table-light">
          <td>{{ svc_act.svc_act }}</td>
          <td>{{ svc_act.expire_date }}</td>
        </tr>
        {% endfor %}
      </table>
      </div>
    {% endif %}
      
  </div>

{% if site_settings %}
  <script>
    const dateElement = document.getElementById("currentDate");
    const currentDate = new Date().toLocaleDateString(); 
    dateElement.textContent = "{{ site_settings.teamname }} Update - " + currentDate;
  </script>
{% else %}
  <script>
    const dateElement = document.getElementById("currentDate");
    const currentDate = new Date().toLocaleDateString(); 
    dateElement.textContent = "Team Name Update - " + currentDate;
  </script>
{% endif %}

<script>
function copyIncidentContent() {
  const content = document.getElementById("incident-print-section").cloneNode(true);

  // Remove buttons or inputs if needed
  content.querySelectorAll('button, input, select, textarea').forEach(el => el.remove());

  const tempDiv = document.createElement('div');
  tempDiv.appendChild(content);
  document.body.appendChild(tempDiv);

  const range = document.createRange();
  range.selectNode(tempDiv);
  const selection = window.getSelection();
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');
  document.body.removeChild(tempDiv);

  alert("Incident details copied!");
}
</script>

</body>
</html>